#main_footer{
    @include template-color;
    display:flex;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    p{
        color: $template_text_color;
        font-size: 1.1rem;  
        font-family: 'Roboto', sans-serif;    
    }    
}