.FirstCourse--header, .MainCourse--header, .Dessert--header {
    /*margin-bottom: 1rem;*/
    display: block;
    align-items: center;
    justify-content: center;
    
    img{
        width: 25%;
        height: 40%;
    }

    h3{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        @include surligne;
    }
  
  }
 
  
  .prix {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 20px;
   
  }
 
