.FirstCourse--header, .MainCourse--header, .Dessert--header {
    display: block;
    margin: 2rem 0;
    align-items: center;
    @include responsive(s){
      display: flex;
      justify-content: space-evenly;
    }
                  
    img{
        width: 25%;
        height: 60%;
    }

    h3{
      font-size: 1.3rem;
      width: fit-content;
      margin: 0 auto;
      @include responsive (s){
        width: unset;
        margin: unset;
        font-size: 1.5rem;}

      @include responsive (md){
        font-size: 1.7rem;
      }
      @include responsive (l){
        margin: 4rem 0;
      }
    
      @include surligne;
    }
  
}
 
  .FirstCourse div, .MainCourse div, .Dessert div {
    display: block;
    @include responsive (md){
      display: flex;
      margin: 0 10%;
    }
    justify-content:space-between;
     }

  .prix {
    display: inline-block;
  } 
 
  section p{
    margin-top: 0.5rem;
    font-size: 1.2rem;
   @include responsive (s){
     font-size: 1.5rem;
    margin-top: 3px;
    margin-bottom: 10px;
   }
  }

  header h2{
    display:table;
    text-align: center ;
    margin: 0 auto;
    font-size: 1.55rem;    
    @include responsive (s){
      font-size: 2rem;
    }
  }
  
.Dessert{
  margin-bottom: 4rem;
}