//template colors
$template_background_color:#549B85;
$template_text_color: #F1C849;

// menu la note enchantée variables
$background_note_enchantee:#fcdfdb;
$text_color_note_enchantee: #3C1218;
$list1: #F0505F, #F78F6A;

// menu le chic à la francaise variables
$background_LeChicALaFrancaise: #fef5ff;
$text_color_first_course_LeChicALaFrancaise:#c67412;
$text_color_main_course_LeChicALaFrancaise:#a56799;
$text_color_dessert_LeChicALaFrancaise:#6e4ccc;
$list2: $text_color_first_course_LeChicALaFrancaise, $text_color_main_course_LeChicALaFrancaise, $text_color_dessert_LeChicALaFrancaise ;

//menu le delice des papilles variables
$background_LeDeliceDesPapilles: #f9f9f9;
$text_color_LeDeliceDesPapilles: #1b88fb;
$list3: #072ddd, #1571f3, #249ef9;

// menu la palette du gout variables
$background_LaPaletteDuGout:#fdfffd;
$text_color_LaPaletteDuGout:#72bf56;
$list4: #479a44, #83cd60, #beff7f;