* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#main_header {
  background-color: #549B85;
  color: #F1C849;
  text-align: center;
  padding: 1.8rem;
}
#main_header h1, #main_header h2 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}
#main_header a {
  text-decoration: none;
  color: #F1C849;
}

#menus {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 3.8vw;
  grid-gap: 2rem;
  padding: 5% 5%;
  text-align: center;
}
#menus h3 {
  font-size: 8vw;
}
@media (min-width: 580px) {
  #menus {
    grid-template-columns: 1fr 1fr;
    font-size: 1.7vw;
  }
  #menus h3 {
    font-size: 4vw;
  }
}

.menu_la_note_enchantee {
  background-color: #fcdfdb;
  padding: 50% 5%;
  box-shadow: 0 0 8px grey;
}
.menu_la_note_enchantee h3 {
  color: #3C1218;
  font-family: "kalam", cursive;
}
@media (min-width: 580px) {
  .menu_la_note_enchantee {
    padding: 50% 5%;
  }
}
.menu_la_note_enchantee h2 {
  color: #3C1218;
  font-family: "devonshire", cursive;
}
.menu_la_note_enchantee i {
  background: linear-gradient(to left, #F0505F, #F78F6A);
  background: -webkit-linear-gradient(to left, #F0505F, #F78F6A);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 8vw;
}
@media (min-width: 580px) {
  .menu_la_note_enchantee i {
    font-size: 4vw;
  }
}

.menu_le_chic_a_la_francaise {
  background-color: #fef5ff;
  padding: 50% 5%;
  box-shadow: 0 0 8px grey;
}
.menu_le_chic_a_la_francaise h3 {
  color: #c67412;
  font-family: "kalam", cursive;
}
@media (min-width: 580px) {
  .menu_le_chic_a_la_francaise {
    padding: 60% 5%;
  }
}
.menu_le_chic_a_la_francaise h2 {
  background: linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  background: -webkit-linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Croissant One", cursive;
  padding-left: 5px;
}

.menu_le_delice_des_papilles {
  background-color: #f9f9f9;
  padding: 50% 5%;
  box-shadow: 0 0 8px grey;
}
.menu_le_delice_des_papilles h3 {
  color: #1b88fb;
  font-family: "kalam", cursive;
}
@media (min-width: 580px) {
  .menu_le_delice_des_papilles {
    padding: 60% 5%;
  }
}
.menu_le_delice_des_papilles h2 {
  background: linear-gradient(to right, #072ddd, #1571f3, #249ef9);
  background: -webkit-linear-gradient(to right, #072ddd, #1571f3, #249ef9);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "dancing script", cursive;
  padding-left: 5px;
}

.menu_la_palette_du_gout {
  background-color: #fdfffd;
  padding: 50% 5%;
  box-shadow: 0 0 8px grey;
}
.menu_la_palette_du_gout h3 {
  color: #72bf56;
  font-family: "kalam", cursive;
}
@media (min-width: 580px) {
  .menu_la_palette_du_gout {
    padding: 60% 5%;
  }
}
.menu_la_palette_du_gout h2 {
  background: linear-gradient(to right, #479a44, #83cd60, #beff7f);
  background: -webkit-linear-gradient(to right, #479a44, #83cd60, #beff7f);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "kaushan script", cursive;
  padding-left: 5px;
}

.container_next {
  display: table;
  text-align: center;
  background-color: #549B85;
  color: #F1C849;
  text-align: center;
  margin: 2rem auto 4rem;
  padding: 1.2rem;
  border-radius: 20px;
}
.container_next h4 {
  font-family: "Roboto", sans-serif;
}
@media (min-width: 480px) {
  .container_next h4 {
    font-size: 4vw;
    font-weight: lighter;
  }
}
@media (min-width: 580px) {
  .container_next h4 {
    font-size: 2vw;
  }
}

span {
  animation-name: dots;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

:nth-child(2) {
  animation-delay: 0.2s;
}

:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dots {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.menu-titre {
  display: table;
  text-align: center;
  margin: 5% auto;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.FirstCourse--header, .MainCourse--header, .Dessert--header {
  display: block;
  margin: 2rem 0;
  align-items: center;
}
@media (min-width: 580px) {
  .FirstCourse--header, .MainCourse--header, .Dessert--header {
    display: flex;
    justify-content: space-evenly;
  }
}
.FirstCourse--header img, .MainCourse--header img, .Dessert--header img {
  width: 25%;
  height: 60%;
}
.FirstCourse--header h3, .MainCourse--header h3, .Dessert--header h3 {
  font-size: 1.3rem;
  width: fit-content;
  margin: 0 auto;
}
@media (min-width: 580px) {
  .FirstCourse--header h3, .MainCourse--header h3, .Dessert--header h3 {
    width: unset;
    margin: unset;
    font-size: 1.5rem;
  }
}
@media (min-width: 960px) {
  .FirstCourse--header h3, .MainCourse--header h3, .Dessert--header h3 {
    font-size: 1.7rem;
  }
}
@media (min-width: 1024px) {
  .FirstCourse--header h3, .MainCourse--header h3, .Dessert--header h3 {
    margin: 4rem 0;
  }
}
.FirstCourse--header h3::after, .MainCourse--header h3::after, .Dessert--header h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  display: block;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 100% 50%;
}
.FirstCourse--header h3:hover::after, .MainCourse--header h3:hover::after, .Dessert--header h3:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.FirstCourse div, .MainCourse div, .Dessert div {
  display: block;
  justify-content: space-between;
}
@media (min-width: 960px) {
  .FirstCourse div, .MainCourse div, .Dessert div {
    display: flex;
    margin: 0 10%;
  }
}

.prix {
  display: inline-block;
}

section p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
@media (min-width: 580px) {
  section p {
    font-size: 1.5rem;
    margin-top: 3px;
    margin-bottom: 10px;
  }
}

header h2 {
  display: table;
  text-align: center;
  margin: 0 auto;
  font-size: 1.55rem;
}
@media (min-width: 580px) {
  header h2 {
    font-size: 2rem;
  }
}

.Dessert {
  margin-bottom: 4rem;
}

.LaNoteEnchantee {
  background-color: #fcdfdb;
  color: #3C1218;
  text-align: center;
  margin: 5px;
  padding: 2px;
}
@media (min-width: 1024px) {
  .LaNoteEnchantee {
    width: 90%;
    margin: 5rem auto;
    box-shadow: 0 0 8px grey;
  }
}
.LaNoteEnchantee header {
  margin: 2rem 0;
}
.LaNoteEnchantee h2 {
  font-family: "devonshire", cursive;
  background: linear-gradient(to right, #3C1218, #3C1218);
  background: -webkit-linear-gradient(to right, #3C1218, #3C1218);
  -webkit-background-clip: text;
  color: transparent;
}
.LaNoteEnchantee p {
  font-family: "kalam", cursive;
}
.LaNoteEnchantee h3 {
  font-family: "kalam", cursive;
}
.LaNoteEnchantee h4 {
  font-size: 2rem;
  font-family: "Devonshire", cursive;
  margin-left: 5px;
}

header i {
  background: linear-gradient(to right, #F0505F, #F78F6A);
  background: -webkit-linear-gradient(to right, #F0505F, #F78F6A);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem;
  margin-top: 5px;
}

.enchante i {
  background: linear-gradient(to right, #F0505F, #F78F6A);
  background: -webkit-linear-gradient(to right, #F0505F, #F78F6A);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.enchante {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.LaPaletteDuGout {
  background-color: #fdfffd;
  color: #3C1218;
  text-align: center;
  margin: 5px;
  padding: 2px;
}
@media (min-width: 1024px) {
  .LaPaletteDuGout {
    width: 90%;
    margin: 5rem auto;
    box-shadow: 0 0 8px grey;
  }
}
.LaPaletteDuGout header {
  margin: 2rem 0;
}
.LaPaletteDuGout h2 {
  font-family: "kaushan script", cursive;
  background: linear-gradient(to right, #479a44, #83cd60, #beff7f);
  background: -webkit-linear-gradient(to right, #479a44, #83cd60, #beff7f);
  -webkit-background-clip: text;
  color: transparent;
}
.LaPaletteDuGout p {
  font-family: "kalam", cursive;
}
.LaPaletteDuGout h3 {
  font-family: "kalam", cursive;
}

.LeChicALaFrancaise {
  background-color: #fef5ff;
  color: #3C1218;
  text-align: center;
  margin: 5px;
  padding: 2px;
}
@media (min-width: 1024px) {
  .LeChicALaFrancaise {
    width: 90%;
    margin: 5rem auto;
    box-shadow: 0 0 8px grey;
  }
}
.LeChicALaFrancaise header {
  margin: 2rem 0;
}
.LeChicALaFrancaise h2 {
  font-family: "Croissant One", cursive;
  background: linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  background: -webkit-linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  color: transparent;
}
.LeChicALaFrancaise p {
  font-family: "kalam", cursive;
}
.LeChicALaFrancaise h3 {
  font-family: "kalam", cursive;
}

.FirstCourse_chic {
  color: #c67412;
}

.MainCourse_chic {
  color: #a56799;
}

.Dessert_chic {
  color: #6e4ccc;
}

.LeDeliceDesPapilles {
  background-color: #f9f9f9;
  color: #3C1218;
  text-align: center;
  margin: 5px;
  padding: 2px;
}
@media (min-width: 1024px) {
  .LeDeliceDesPapilles {
    width: 90%;
    margin: 5rem auto;
    box-shadow: 0 0 8px grey;
  }
}
.LeDeliceDesPapilles header {
  margin: 2rem 0;
}
.LeDeliceDesPapilles h2 {
  font-family: "dancing script", cursive;
  background: linear-gradient(to right, #072ddd, #1571f3, #249ef9);
  background: -webkit-linear-gradient(to right, #072ddd, #1571f3, #249ef9);
  -webkit-background-clip: text;
  color: transparent;
}
.LeDeliceDesPapilles p {
  font-family: "kalam", cursive;
}
.LeDeliceDesPapilles h3 {
  font-family: "kalam", cursive;
}

.mentions {
  text-align: center;
  height: 100vh;
  margin-top: 4rem;
}

/* scale and fade out menu effect*/
.scale a {
  display: inline-block;
  opacity: 1;
}

.scale a:hover {
  opacity: 0.3;
  transform: scale(1.2);
  transition: all 0.7s ease;
}

.mentions_legales:hover, .contactez_nous:hover {
  -webkit-animation: shake 0.5s linear infinite both;
  animation: shake 0.5s linear infinite both;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.rotate {
  transform: rotate(180deg);
}

#main_footer {
  background-color: #549B85;
  color: #F1C849;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}
#main_footer p {
  color: #F1C849;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=mobile_first.css.map */
