* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container_next {
  display: block;
  text-align: center;
  background-color: #549B85;
  color: #F1C849;
  text-align: center;
  width: fit-content;
  margin: 2rem auto 4rem;
  padding: 1.4rem;
  border-radius: 20px;
}
.container_next p {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

span {
  animation-name: dots;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

:nth-child(2) {
  animation-delay: 0.2s;
}

:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dots {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.FirstCourse--header, .MainCourse--header, .Dessert--header {
  /*margin-bottom: 1rem;*/
  display: block;
  align-items: center;
  justify-content: center;
}
.FirstCourse--header img, .MainCourse--header img, .Dessert--header img {
  width: 25%;
  height: 40%;
}
.FirstCourse--header h3, .MainCourse--header h3, .Dessert--header h3 {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.FirstCourse--header h3::after, .MainCourse--header h3::after, .Dessert--header h3::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  display: block;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 100% 50%;
}
.FirstCourse--header h3:hover::after, .MainCourse--header h3:hover::after, .Dessert--header h3:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.prix {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 20px;
}

#main_header {
  background-color: #549B85;
  color: #F1C849;
  text-align: center;
  padding: 1.8rem;
}
#main_header h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

#menus {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding: 5% 5%;
  text-align: center;
}

.menu_le_chic_a_la_francaise {
  background-color: #fef5ff;
  padding: 20% 5%;
  box-shadow: 0 0 8px grey;
}
.menu_le_chic_a_la_francaise h1 {
  background: linear-gradient(to left, #c67412, #a56799, #6e4ccc);
  background: -webkit-linear-gradient(to left, #c67412, #a56799, #6e4ccc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Croissant One", cursive;
  font-size: 1.2rem;
  padding-left: 3px;
}
.menu_le_chic_a_la_francaise h2 {
  background: linear-gradient(to left, #c67412, #a56799, #6e4ccc);
  background: -webkit-linear-gradient(to left, #c67412, #a56799, #6e4ccc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "kalam", cursive;
}

.menu_le_delice_des_papilles {
  background-color: #f9f9f9;
  padding: 20% 5%;
  box-shadow: 0 0 8px grey;
}
.menu_le_delice_des_papilles h1 {
  background: linear-gradient(to left, #072ddd, #1571f3, #249ef9);
  background: -webkit-linear-gradient(to left, #072ddd, #1571f3, #249ef9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "dancing script", cursive;
  font-size: 1.2rem;
  padding-left: 3px;
}
.menu_le_delice_des_papilles h2 {
  background: linear-gradient(to left, #072ddd, #1571f3, #249ef9);
  background: -webkit-linear-gradient(to left, #072ddd, #1571f3, #249ef9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "kalam", cursive;
}

.menu_la_palette_du_gout {
  background-color: #fdfffd;
  padding: 20% 5%;
  box-shadow: 0 0 8px grey;
}
.menu_la_palette_du_gout h1 {
  background: linear-gradient(to left, #479a44, #83cd60, #beff7f);
  background: -webkit-linear-gradient(to left, #479a44, #83cd60, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "kaushan script", cursive;
  font-size: 1.2rem;
  padding-left: 3px;
}
.menu_la_palette_du_gout h2 {
  background: linear-gradient(to left, #479a44, #83cd60, #beff7f);
  background: -webkit-linear-gradient(to left, #479a44, #83cd60, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "kalam", cursive;
}

.menu_la_note_enchantee {
  background-color: #fcdfdb;
  padding: 20% 5%;
  box-shadow: 0 0 8px grey;
}
.menu_la_note_enchantee h1 {
  color: #3C1218;
  font-family: "devonshire", cursive;
}
.menu_la_note_enchantee h2 {
  color: #3C1218;
  font-family: "kalam", cursive;
}
.menu_la_note_enchantee i {
  background: linear-gradient(to left, #F0505F, #F78F6A);
  background: -webkit-linear-gradient(to left, #F0505F, #F78F6A);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.LaNoteEnchantee {
  background-color: #fcdfdb;
  color: #3C1218;
  text-align: center;
  margin: 5px;
  padding: 2px;
}
.LaNoteEnchantee header {
  margin: 2rem 0;
}
.LaNoteEnchantee h2 {
  font-family: "devonshire", cursive;
  font-size: 2rem;
  background: linear-gradient(to left, #3C1218, #3C1218);
  background: -webkit-linear-gradient(to left, #3C1218, #3C1218);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.LaNoteEnchantee p {
  font-family: "kalam", cursive;
  font-size: 1.2rem;
}
.LaNoteEnchantee h3 {
  font-family: "kalam", cursive;
  font-size: 1.4rem;
}
.LaNoteEnchantee h4 {
  font-size: 2rem;
  font-family: "Devonshire", cursive;
  margin-left: 5px;
}

header i {
  background: linear-gradient(to right, #F0505F, #F78F6A);
  background: -webkit-linear-gradient(to right, #F0505F, #F78F6A);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem;
  margin-top: 5px;
}

.enchante i {
  background: linear-gradient(to right, #F0505F, #F78F6A);
  background: -webkit-linear-gradient(to right, #F0505F, #F78F6A);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.enchante {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LaPaletteDuGout {
  background-color: #fdfffd;
  color: #3C1218;
  text-align: center;
  margin: 5px;
  padding: 2px;
}
.LaPaletteDuGout header {
  margin: 2rem 0;
}
.LaPaletteDuGout h2 {
  font-family: "kaushan script", cursive;
  font-size: 2rem;
  background: linear-gradient(to left, #479a44, #83cd60, #beff7f);
  background: -webkit-linear-gradient(to left, #479a44, #83cd60, #beff7f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.LaPaletteDuGout p {
  font-family: "kalam", cursive;
  font-size: 1.2rem;
}
.LaPaletteDuGout h3 {
  font-family: "kalam", cursive;
  font-size: 1.4rem;
}

.LeChicALaFrancaise {
  background-color: #fef5ff;
  color: #3C1218;
  text-align: center;
  margin: 5px;
  padding: 2px;
}
.LeChicALaFrancaise header {
  margin: 2rem 0;
}
.LeChicALaFrancaise h2 {
  font-family: "Croissant One", cursive;
  font-size: 2rem;
  background: linear-gradient(to left, #c67412, #a56799, #6e4ccc);
  background: -webkit-linear-gradient(to left, #c67412, #a56799, #6e4ccc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.LeChicALaFrancaise p {
  font-family: "kalam", cursive;
  font-size: 1.2rem;
}
.LeChicALaFrancaise h3 {
  font-family: "kalam", cursive;
  font-size: 1.4rem;
}

.LeDeliceDesPapilles {
  background-color: #f9f9f9;
  color: #3C1218;
  text-align: center;
  margin: 5px;
  padding: 2px;
}
.LeDeliceDesPapilles header {
  margin: 2rem 0;
}
.LeDeliceDesPapilles h2 {
  font-family: "dancing script", cursive;
  font-size: 2rem;
  background: linear-gradient(to left, #072ddd, #1571f3, #249ef9);
  background: -webkit-linear-gradient(to left, #072ddd, #1571f3, #249ef9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.LeDeliceDesPapilles p {
  font-family: "kalam", cursive;
  font-size: 1.2rem;
}
.LeDeliceDesPapilles h3 {
  font-family: "kalam", cursive;
  font-size: 1.4rem;
}

.mentions {
  text-align: center;
  height: 100vh;
  margin-top: 4rem;
}

/* scale and fade out menu effect*/
.scale a {
  display: inline-block;
  opacity: 1;
}

.scale a:hover {
  opacity: 0.3;
  transform: scale(1.2);
  transition: all 0.7s ease;
}

.mentions_legales:hover, .contactez_nous:hover {
  -webkit-animation: shake 0.5s linear infinite both;
  animation: shake 0.5s linear infinite both;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.rotate {
  transform: rotate(180deg);
}

#main_footer {
  background-color: #549B85;
  color: #F1C849;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}
#main_footer p {
  color: #F1C849;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=mobile_first.css.map */
