*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    
    
}
i{font-size: 3rem;

}
/* mise en forme du header*/
#main_header{
    background-color: teal;
    color: darkgoldenrod;
    text-align: center;
    padding: 1.8rem;
    font-size: 3vw;
}
/*utilisation de grix pour conteneur des menus*/
#menus{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 3rem;
    padding: 5% 5%;
    
}
/*mise en forme des menus*/
.menu{
    background-color: lightblue;
    box-shadow: 0px 0px 8px grey;
    text-align: center;
    padding: 60% 5% ;
    
}

.menu h1 , .menu h2 {
    font-size: 3vw;
}



/*effet de fondu et zoom sur les titres des menus*/
.menu a{  
display: inline-block;
opacity: 1;
}
    
.menu a:hover{
    opacity: 0.3;
    transform: scale(1.3);
    transition: all 0.7s ease;
}

.container_next{
    border: none;
    display :flex;
    color: darkgoldenrod;
    background-color: teal;    
    width: fit-content;    
    text-align: center;
    margin: auto;
    margin-bottom: 90px;
    padding: 5px;
    border-radius: 10px;
    }

.container_next p{
    
    font-size: 3vw;
}

/* next button effect*/
.blink span{
   
    animation-name: dots;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.blink span:nth-child(2){
    animation-delay: .2s;
}
.blink span:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes dots {
    0%{
        opacity: .2;
    }

    20%{
        opacity: 1;
    }

    100%{
        opacity: .2;
    }

}


#main_footer{
   /* margin-top:10%;*/
    display:flex;
    background-color: teal;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
}

#main_footer p{
    font-size: 2.5vw;
}




/*mise en forme du menu "la note enchantée"*/
.LaNoteEnchantee {
    text-align: left;    
    background-color: indianred;
    width: 90%;
    height: auto;
    margin:5% auto 120px;    
}

.LaNoteEnchantee h2{
    font-size: 1.8rem;
}
.LaNoteEnchantee p{
    font-size: 1.5rem;
}
.FirstCourse  div{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    font-size: 1.3em;  
}
.MainCourse  div{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    font-size: 1.3em;
}

.Dessert  div{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    font-size: 1.3em;
}
header i{
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

h2,h1, h3{
    text-align: center;
}


.FirstCourse--header, .MainCourse--header, .Dessert--header{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.enchante{
    display:flex;
    width: 100%;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}  
.enchante h3{
    text-align: left;
    padding-left: 5px;
    font-size: 2rem;
    


}
.enchante i{
    
    font-size: 2rem;
}








/*



@media all and (max-width: 900px){
    #menus{
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        padding: 0.5rem;
        
    }

    #menus h1{
        font-size:2rem;
    }

    .menu {
        width:100%;
       
        margin:auto;
        padding:20% 10px;
        
        
    }

    footer {
        font-size: 1rem;
    }
    #main_header{
        font-size: 2rem;
    }
    
    .container_next{
       
        margin-top: 15px;
        margin-bottom: 90px;

    }
    .container_next p{
        font-size:2em;

    }
    
}
