.container_next {
   display: table;
   text-align: center;
   @include template_color;
   margin: 2rem auto 4rem;
   padding: 1.2rem;
   border-radius: 20px;

   h4{
       @include responsive (xs){
           font-size: 4vw;
           font-weight: lighter;
       }
       @include responsive (s) {
           font-size: 2vw;
       }
       font-family: 'Roboto', sans-serif;
   }
}
    
//button animation

     span{
        
        animation-name: dots;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
    :nth-child(2){
        animation-delay: .2s;
    }
    :nth-child(3){
        animation-delay: 0.4s;
    }


    @keyframes dots {
        0%{
            opacity: .2;
        }

        20%{
            opacity: 1;
        }

        100%{
            opacity: .2;
        }
    }

