//mixin template colors
@mixin template-color {
    background-color: $template_background_color;
    color: $template_text_color;
    text-align: center;    
}


@mixin menu-shapping2($background_color, $padding, $shadow){
    background-color: $background_color;
    padding: $padding ;
    box-shadow: $shadow; 
}
// mixin gradients
@mixin gradient ($direction, $list){
    background: linear-gradient(to $direction, $list);
    background: -webkit-linear-gradient(to $direction, $list);
    -webkit-background-clip: text;
    color: transparent    
}

//mixin effet shake
@mixin keyframes {
               
    @keyframes shake {
        0% {
          transform: translate(0);
        }
        10% {
          transform: translate(-2px, -2px);
        }
        20% {
          transform: translate(2px, -2px);
        }
        30% {
          transform: translate(-2px, 2px);
        }
        40% {
          transform: translate(2px, 2px);
        }
        50% {
          transform: translate(-2px, -2px);
        }
        60% {
          transform: translate(2px, -2px);
        }
        70% {
          transform: translate(-2px, 2px);
        }
        80% {
          transform: translate(-2px, -2px);
        }
        90% {
          transform: translate(2px, -2px);
        }
        100% {
          transform: translate(0);
        }
      }   
}

@mixin shake {
    -webkit-animation: shake 0.5s linear infinite both;
	        animation: shake 0.5s linear infinite both;
}

//mixin bouton prochainement

@mixin dots {
    -webkit-animation: dots 1.4s  infinite both;
    animation: dots 1.4s infinite both;    
}
@mixin keysdots {
    @keyframes dots {
        0%{
            opacity: .2;
        }

        20%{
            opacity: 1;
        }

        100%{
            opacity: .2;
        }
    }    
}

@mixin menu_page_setting ($background, $text_color, $font_family_h2, $font_family_h3, $font_family_p, $list){
  background-color: $background;
  color: $text_color;
  text-align: center;
  margin: 5px;
  padding: 2px;
  @include responsive(l){
    width: 80%;
    margin: 5rem auto ;
    box-shadow: $shadow_menus_index;
  }
    header{
      margin: 2rem 0;
    }

    h2 {
     font-family: $font_family_h2;
      
      
      @include gradient(right, $list )
    }

    p {
      font-family: $font_family_p;
      
    }

    h3 {
      font-family: $font_family_h3;
       
    }     
}

@mixin surligne {
  &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: black;
      display: block;
      transform: scaleX(0);
      transition: transform 300ms ease-in-out;
      transform-origin: 100% 50%;
  }

  &:hover::after {
      transform: scaleX(1);
      transform-origin: 0% 50%;
  }
}

// breakpoint mixin

$breakpoints: (
  ('xs', 480px),
  ('s', 580px),
  ('md', 960px),
  ('l', 1023px),
);

@mixin responsive ($media) {
  @each $breakpoint in $breakpoints{
    @if $media == nth($breakpoint, 1){
      @media (min-width: #{nth($breakpoint, 2)}) { @content;}
    }
  }
  

  
}