//mixin template colors
@mixin template-color {
    background-color: $template_background_color;
    color: $template_text_color;
    text-align: center;    
}


@mixin menu-shapping2($background_color, $padding, $shadow){
    background-color: $background_color;
    padding: $padding ;
    box-shadow: $shadow; 
}
// mixin gradients
@mixin gradient ($direction, $list){
    background: linear-gradient(to $direction, $list);
    background: -webkit-linear-gradient(to $direction, $list);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent    
}

//mixin effet shake
@mixin keyframes {
               
    @keyframes shake {
        0% {
          transform: translate(0);
        }
        10% {
          transform: translate(-2px, -2px);
        }
        20% {
          transform: translate(2px, -2px);
        }
        30% {
          transform: translate(-2px, 2px);
        }
        40% {
          transform: translate(2px, 2px);
        }
        50% {
          transform: translate(-2px, -2px);
        }
        60% {
          transform: translate(2px, -2px);
        }
        70% {
          transform: translate(-2px, 2px);
        }
        80% {
          transform: translate(-2px, -2px);
        }
        90% {
          transform: translate(2px, -2px);
        }
        100% {
          transform: translate(0);
        }
      }
      
    
}

@mixin shake {
    -webkit-animation: shake 0.5s linear infinite both;
	        animation: shake 0.5s linear infinite both;
}

//mixin bouton prochainement

@mixin dots {
    -webkit-animation: dots 1.4s  infinite both;
    animation: dots 1.4s infinite both;
    
}
@mixin keysdots {
    @keyframes dots {
        0%{
            opacity: .2;
        }

        20%{
            opacity: 1;
        }

        100%{
            opacity: .2;
        }
    }
    
}

@mixin menu_page_setting ($background, $text_color, $font_family_h2, $font_family_h3, $font_family_p, $list){
  background-color: $background;
  color: $text_color;
  text-align: center;
  margin: 5px;
  padding: 2px;
  margin-bottom: 4rem;

    h2 {
     font-family: $font_family_h2;
      font-size:2.5rem;
      @include gradient(left, $list )
    }

    p {
      font-family: $font_family_p;
      font-size:1.2rem ;
    }

    h3 {
      font-family: $font_family_h3;
      font-size:1.4rem ;  
    }

     
}