//template colors
$template_background_color:#549B85;
$template_text_color: #F1C849;



// note enchantee variables
$background_note_enchantee:#fcdfdb;
$text_color_note_enchantee: #3C1218;
$list1: #F0505F, #F78F6A;
$padding_menus-index:(60% 5%);
$padding_menus-note_enchantee:(50% 5%);
$padding_menus-index_xs:(50% 5%);
$shadow_menus_index: (0 0 8px grey);
$font_family_note_enchantee_h1: "devonshire", cursive;
$font_family_note_enchantee_h2: "kalam", cursive;
$list0: #3C1218, #3C1218;


//shorcut variables note enchantee
$m1_bg: $background_note_enchantee;
$m1_tc: $text_color_note_enchantee;
$m1_grad: $list1;
$m1_p: $padding_menus-index;
$m1_s: $shadow_menus_index;
$m1_ffh1: $font_family_note_enchantee_h1;
$m1_ffh2: $font_family_note_enchantee_h2;


// menu le chic à la francaise variables

$background_chic_francaise:#fef5ff;
$text_color_chic_francaise: #3C1218;
$padding_chic_francaise:(60% 5%);
$shadow_chic_francaise:(0 0 8px grey);
$font_family_chic_francaise_h1: "Croissant One", cursive;
$font_family_chic_francaise_h2: "kalam", cursive;
$text_color_chic_francaise_first_course:#c67412;
$text_color_chic_francaise_main_course: #a56799;
$text_color_chic_francaise_dessert: #6e4ccc;
$list2: $text_color_chic_francaise_first_course, $text_color_chic_francaise_main_course, $text_color_chic_francaise_dessert;


//shorcut variables chic à la francaise
$m2_bg: $background_chic_francaise;
$m2_tc: $text_color_chic_francaise;
$m2_tc2: $text_color_chic_francaise_first_course;
$m2_grad: $list2;
$m2_p: $padding_chic_francaise;
$m2_s: $shadow_chic_francaise;
$m2_ffh1: $font_family_chic_francaise_h1;
$m2_ffh2: $font_family_chic_francaise_h2;


//menu le delice des papilles variables


$background_delice_papilles: #f9f9f9;
$text_color_delice_papilles: #1b88fb;
$padding_delice_papilles:(60% 5%);
$shadow_delice_papilles:(0 0 8px grey);
$font_family_delice_papilles_h1: "dancing script", cursive;
$font_family_delice_papilles_h2: "kalam", cursive;
$list3: #072ddd, #1571f3, #249ef9;

//shorcut variables delice des papilles
$m3_bg: $background_delice_papilles;
$m3_tc: $text_color_delice_papilles;
$m3_grad: $list3;
$m3_p: $padding_delice_papilles;
$m3_s: $shadow_delice_papilles;
$m3_ffh1: $font_family_delice_papilles_h1;
$m3_ffh2: $font_family_delice_papilles_h2;




// menu la palette du gout variables
$background_palette_gout:#fdfffd;
$text_color_palette_gout:#72bf56;
$padding_palette_gout:(60% 5%);
$shadow_palette_gout:(0 0 8px grey);
$font_family_palette_gout_h1: "kaushan script", cursive;
$font_family_palette_gout_h2: "kalam", cursive;
$list4: #479a44, #83cd60, #beff7f;

//shorcut variables palette du gout
$m4_bg: $background_palette_gout;
$m4_tc: $text_color_palette_gout;
$m4_grad: $list4;
$m4_p: $padding_palette_gout;
$m4_s: $shadow_palette_gout;
$m4_ffh1: $font_family_palette_gout_h1;
$m4_ffh2: $font_family_palette_gout_h2;